.h1,h2,h3,h4,h5,h6,input,select,p,button,a,label {
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    padding: 1em;
}

.code {
    font-family: Consolas
}

.code span {
    display: block;
}


input {
    padding:0.4em;
    border-radius: 0.6em;
    border-style: solid;
    border-width: 1.6px;
    font-size: 0.9em;
}

input:disabled {
    cursor: not-allowed;
    background-color: rgba(239, 239, 239, 0.3);
}

.input-area {
    padding: 0.2em 0;
}

.input-area label {
    display: block;
    padding-bottom: 0.25em;
}

.input-group {
    margin-bottom: 1em;
    padding: 0.5em 1em;
    border: solid 1px gray;
}

.input-group ul {
    list-style-type: none;
    padding-inline-start: 0;
}